{% extends 'layout.html' %}

{% block body %}
<div>
  <h3> Articles</h3>
  <ul class = "list-group">
    {% for article in articles %}
      <li class = "list-group-item"><a href="article/{{article.id}}">{{article.title}}</a></li>
    {% endfor %}
  </ul>
</div>

<!-- Plotly ex -->


<!-- <footer> -->
    <!-- D3.js -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script> -->
    <!-- jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
    <!-- Plotly.js -->
    <!-- <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script> -->

    <!-- <script type="text/javascript">
        var graph = {{graphJSON | safe}};
        Plotly.plot(graph.data, graph.layout || {});
    </script> -->
<!-- </footer> -->


{% endblock %}
